In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import torch

In [13]:
data = pd.read_csv("C:\\Users\\halil\\Desktop\\spam dataset raw\\archive\\spam_ham_dataset.csv")

In [17]:
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [41]:
data.iloc[1]

Unnamed: 0                                                 2349
label                                                       ham
text          Subject: hpl nom for january 9 , 2001\r\n( see...
label_num                                                     0
Name: 1, dtype: object

In [45]:
pd.set_option('display.max_colwidth', None)
data.loc[data['Unnamed: 0'] == 1]

      Unnamed: 0 label  \
2281           1   ham

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 text  \
2281  Subject: vastar resources , inc .\r\ngary , production from the high island larger block a - 1 # 2 commenced on\r\nsaturday at 2 : 00 p . m . at about 6 , 500 gross . carlos expects between 9 , 500 and\r\n10 , 000 gross for tomorrow . vastar owns 68 % of the gross production .\r\ngeorge x 3 - 6992\r\n- - - - - - - - - - - - - - - - - - - - - - forwarded by george weissman / hou / ect on 12 / 13 / 99 10 : 16\r\nam - - - - - - - - - - - - - - - - - - - - - - - - - - -\r\ndaren j farmer\r\n12 / 10 / 99 10 : 38 am\r\nto : carlos j rodriguez / hou / ect @ ect\r\ncc : george weissman / hou / ect @ ect , melissa graves / hou / ect @ ect\r\nsubject : vastar resources , inc .\r\ncarlos ,\r\nplease call linda and get everything set up .\r\ni ' m going to estimate 4 , 500 coming up tomorrow , with a 2 , 000 increase each\r\nfollowing day based on my conversations with bill fischer at bmar .\r\nd .\r\n- - - - - - - - - - - - - - - - - - - - - - forwarded by daren j farmer / hou / ect on 12 / 10 / 99 10 : 34\r\nam - - - - - - - - - - - - - - - - - - - - - - - - - - -\r\nenron north america corp .\r\nfrom : george weissman 12 / 10 / 99 10 : 00 am\r\nto : daren j farmer / hou / ect @ ect\r\ncc : gary bryan / hou / ect @ ect , melissa graves / hou / ect @ ect\r\nsubject : vastar resources , inc .\r\ndarren ,\r\nthe attached appears to be a nomination from vastar resources , inc . for the\r\nhigh island larger block a - 1 # 2 ( previously , erroneously referred to as the\r\n# 1 well ) . vastar now expects the well to commence production sometime\r\ntomorrow . i told linda harris that we ' d get her a telephone number in gas\r\ncontrol so she can provide notification of the turn - on tomorrow . linda ' s\r\nnumbers , for the record , are 281 . 584 . 3359 voice and 713 . 312 . 1689 fax .\r\nwould you please see that someone contacts linda and advises her how to\r\nsubmit future nominations via e - mail , fax or voice ? thanks .\r\ngeorge x 3 - 6992\r\n- - - - - - - - - - - - - - - - - - - - - - forwarded by george weissman / hou / ect on 12 / 10 / 99 09 : 44\r\nam - - - - - - - - - - - - - - - - - - - - - - - - - - -\r\n" linda harris " on 12 / 10 / 99 09 : 38 : 43 am\r\nto : george weissman / hou / ect @ ect\r\ncc :\r\nsubject : hi a - 1 # 2\r\neffective 12 - 11 - 99\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| mscf / d | min ftp | time |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 4 , 500 | 9 , 925 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 6 , 000 | 9 , 908 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 8 , 000 | 9 , 878 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 10 , 000 | 9 , 840 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 12 , 000 | 9 , 793 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 14 , 000 | 9 , 738 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 16 , 000 | 9 , 674 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 18 , 000 | 9 , 602 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 20 , 000 | 9 , 521 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 22 , 000 | 9 , 431 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 24 , 000 | 9 , 332 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 26 , 000 | 9 , 224 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 28 , 000 | 9 , 108 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 30 , 000 | 8 , 982 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 32 , 000 | 8 , 847 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 34 , 000 | 8 , 703 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |\r\n| | | |\r\n| 36 , 000 | 8 , 549 | 24 hours |\r\n| | | |\r\n| - - - - - - - - + - - - - - - - - - - + - - - - - - - - - - - |

      label_num
2281          0

In [22]:
data.tail()

,Unnamed: 0,label,text,label_num
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [10]:
data_second = pd.read_csv("C:\\Users\\halil\\Desktop\\spam dataset raw\\archive (1)\\emails.csv")

In [11]:
data_second.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [50]:
def is_numeric(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

numeric_headers = [col for col in data_second.columns if is_numeric(col)]

print("Numeric headers:", numeric_headers)

Numeric headers: []